
body{background-color: #8b9687;}

header{background-image: url(images/beerpicture.jpg); background-size: cover; background-position: center;
margin: 1rem;
padding: 1rem 1rem .5rem;

}

nav{text-align: center ;}

nav>a{background-color: rgb(30, 53, 35);
color: #dee2dc;
text-decoration: none;
display: inline-block;
margin: 1rem .1rem 0rem;
padding: .5rem 1.3rem .5rem;}

nav>a:hover{background-color: rgb(73, 88, 79);}

h.eader{position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;}

.Story{background-color: #283324;
margin: 1rem;
padding: 1rem;
color: #dee2dc;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

.Drinks{background-color: #283324;
margin: 1rem;
padding: 1rem;
color: #dee2dc;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}


.Dinner{background-color: #283324;
margin: 1rem;
padding: 1rem;
color: #dee2dc;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

.Dessert{background-color: #283324;
margin: 1rem;
padding: 1rem;
color: #dee2dc;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

footer{background-color: rgb(54, 54, 54);
    text-align: center;;
margin: 1rem;
padding: 1rem;
color: #dee2dc;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
@media (min-width:1000px){
    header{display: flex;
    justify-content: space-between;
    align-items: flex-end;}
}