
body{background-color: #8b9687;}

header{background-image: url(images/beerpicture.jpg); background-size: cover; background-position: center;
margin: 1rem;
padding: 1rem 1rem .5rem;}

nav{text-align: center ;}

nav>a{background-color: rgb(30, 53, 35);
color: #dee2dc;
text-decoration: none;
display: inline-block;
margin: 1rem .1rem 0rem;
padding: .5rem 1.3rem .5rem;}

nav>a:hover{background-color: rgb(73, 88, 79);}

.Story{background-color: #283324;
margin: 1rem;
padding: 1rem;
color: #dee2dc;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

.Drinks{background-color: #283324;
margin: 1rem;
padding: 1rem;
color: #dee2dc;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}


.Dinner{background-color: #283324;
margin: 1rem;
padding: 1rem;
color: #dee2dc;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

.Dessert{background-color: #283324;
margin: 1rem;
padding: 1rem;
color: #dee2dc;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

footer{background-color: rgb(54, 54, 54);
    text-align: center;
margin: 1rem;
padding: .5rem;
color: #dee2dc;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
a{color: #dee2dc;}

.gallery{display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;}

.gallery>img{margin: .4rem;}    

@media (min-width:1000px){
    .gallery>img{width: 30%;}
    header{display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 5rem;}}