body{
    background-color: beige;
}
h3{color:rgba(73, 202, 114, 1);}
p{font-family: cursive;}
ul{font-size: larger;}
ul{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
h3{text-align: center;}
ol{font-family: Arial, Helvetica, sans-serif;}
ol{font-weight: 100;}
h1{background-color:rgb(182, 175, 209);
    color: black;
    margin:3rem;
    padding:2rem;}