body{background-color: rgb(236, 236, 236);
margin: 1rem;
background-image: url(images/musicnotespattern.webp);
background-size: 30rem;
background-repeat: repeat-y;
background-position: right;
font-family: Verdana, Geneva, Tahoma, sans-serif;}

main{margin-right: 50%;}

header{background-color: rgb(194, 213, 255);
padding: 1rem;
text-align: left;}

nav a{background-color: rgb(219, 204, 250);
padding: 8px;
margin-right: .5rem;
border-radius: 30%;
border-color: rgb(112, 112, 112);
border-style:solid;
border-width: 2px;}

nav a:hover{background-color:rgb(177, 164, 209) ;}

main a{background-color: rgb(181, 226, 179);
padding: 8px;
border-radius: 30%;
border-color: rgb(112, 112, 112);
border-style:solid;
border-width: 2px;}
main a:hover{background-color:rgb(215, 250, 212) ;}

